.galeryPage {
    padding-top: calc(1.5vh + 50px);
    min-height: calc(100vh - (1.5vh + 50px));
    margin: 2vh 0 2vh 0;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    margin: 0 0 0 7vw;
    font-size: clamp(3.5rem, 7vw, 6rem);
    font-weight: bold;
    line-height: 113%;
}

.categoryWrapper {
    margin: 5vh 0 0 5vw;
    min-height: 37vh;
}

.line {
    display: flex;
    padding: 2vh 0;
    width: auto;
}

.line:hover .arrow, .line:hover .arrow {
    opacity: 1;
}

.arrow {
    opacity: 0;
    z-index: 1;
    position: relative;
    padding: 0 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: 'Sofia', cursive;
    color: black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.arrow:hover {
    font-size: clamp(1.5rem, 5vw, 5rem);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 0.5vw 1px black, -1px -1px 0 black, 0.5vw -1px 0 black, -1px 1px 0 black;
    color: white;
}

.subTitle {
    margin: 0 0 0 5vw;
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: 300;
    text-shadow: 0 0 0.5px black;
    color: #777777;
}

.itemContent {
    display: flex;
    justify-items: center;
    align-items: center;
}

.imageBox {
    position: relative;
    min-width: 24vw;
    height: 12vw;
    margin: 0.2vw;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}

.imageBox:hover {
    min-width: 28vw;
    height: 14vw;
}

.imageBox:hover .linkContent {
    transform: translateY(-100%) !important;
    font-size: 1px;
    opacity: 1;
}

.imageBox:hover .linkContent .link {
    display: inherit;
}

.linkContent {
    transform: translateY(-50%) !important;
    padding: 0 !important;
    height: 35% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

.linkContent::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(15, 3, 3);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
}

.link {
    display: none;
    font-size: 1.7vw;
    color: white;
    font-weight: bold;
    background-color: #3C3C3C;
    padding: 3% 5%;
    margin: 2.5% 2.5% 2.5% 0;
    border-radius: 6px;
    transition: 0.1s;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.link:hover {
    color: black;
    background-color: #F6F6F6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset;
}

.name {
    padding: 4px 0;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bold;
    color: white;
    z-index: 1;
    margin: 0 0 0 2.5%;
    text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width:1366px) and (min-width:1360px) {
    .title {
        font-size: clamp(3.5rem, 6vw, 10rem);
    }
    .subTitle {
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 300;
        text-shadow: 0 0 0.5px black;
        color: #777777;
    }
    .name {
        margin: 1.5% 0 0 4%;
        font-size: 1.5rem;
    }
}

@media (max-width:1280px) {
    .categoryWrapper {
        min-height: 28vh;
    }
    .name {
        font-size: 1.5rem;
    }
}

@media (max-width:1024px) {
    .categoryWrapper {
        min-height: 27vh;
    }
    .title {
        margin: 0 0 0 7vw;
        font-size: clamp(3.5rem, 12vw, 10rem);
        font-weight: bold;
        line-height: 113%;
    }
    .subTitle {
        font-size: clamp(2rem, 6vw, 4rem);
    }
    .imageBox {
        min-width: 40vw;
        height: 20vw;
        margin: 0.3vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.1s;
    }
    .imageBox div {
        width: 100%;
        height: 100%;
    }
    .imageBox:hover {
        min-width: 50vw;
        height: 25vw;
    }
    .linkContent {
        transform: translateY(0) !important;
        white-space: wrap;
        transition: 0.2s;
    }
    .name {
        font-size: 3.2vw;
    }
    .link {
        font-size: 2.8vw;
        padding: 4% 5% 3% 5%;
        border-radius: 6px;
    }
}

@media (max-width:767px) {
    .subTitle {
        font-size: clamp(1rem, 8vw, 2.5rem);
    }
    .imageBox {
        min-width: 70vw;
        height: 35vw;
        margin: 0.3vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.1s;
    }
    .imageBox div {
        width: 100%;
        height: 100%;
    }
    .imageBox:hover {
        min-width: 85vw;
        height: 45vw;
    }
    .linkContent {
        transform: translateY(-67%);
        margin: 0;
        padding: 0 2%;
        white-space: wrap;
        transition: 0.2s;
    }
    .imageBox:hover .linkContent {
        transform: translateY(-67%);
    }
    .name {
        font-size: 5.5vw;
    }
    .link {
        font-size: 4vw;
        padding: 4% 5% 3% 5%;
        border-radius: 6px;
    }
}