.galeryPage {
    padding-top: calc(1.5vh + 50px);
    min-height: calc(100vh - (1.5vh + 50px));
    margin: 2vh 0 2vh 0;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    margin: 0 0 0 7vw;
    font-size: clamp(3.5rem, 7vw, 6rem);
    font-weight: bold;
    line-height: 113%;
}



.categoryWrapper {
    margin: 5vh 0 0 5vw;
}

.line {
    display: flex;
    padding: 2vh 0;
}

.line:hover .leftArrow, .line:hover .rightArrow {
    opacity: 1;
}

.leftArrow, .rightArrow {
    opacity: 0;
    z-index: 1;
    position: relative;
    padding: 0 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: 'Sofia', cursive;
    color: black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.leftArrow:hover {
    font-size: clamp(1.5rem, 5vw, 5rem);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 0.5vw 1px black, -1px -1px 0 black, 0.5vw -1px 0 black, -1px 1px 0 black;
    color: white;
}

.rightArrow:hover {
    font-size: clamp(1.5rem, 6vw, 5rem);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -0.5vw -1px 0 black, 1px -1px 0 black, -0.5vw 1px 0 black;
    color: white;
}

.subTitle {
    margin: 0 0 0 5vw;
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: 300;
    text-shadow: 0 0 0.5px black;
    color: #777777;
}

.imageBox {
    position: relative;
    min-width: 24vw;
    height: 12vw;
    margin: 0.2vw;
    overflow: hidden;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}

.imageBox:hover {
    min-width: 28vw;
    height: 14vw;
}

.imageBox:hover .linkContent {
    transform: translateY(-125%);
    font-size: 1px;
    opacity: 1;
}

.imageBox:hover .linkContent .link{
    display: inherit;
}
.linkContent {
    transform: translateY(0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.5%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap
}

.link {
    display: none;
    font-size: 1.5vw;
    color: white;
    font-weight: bold;
    background-color: #3C3C3C;
    padding: 3% 5%;
    border-radius: 6px;
    transition: 0.1s;
}

.link:hover {
    color: black;
    background-color: #F6F6F6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset;
}

.name {
    font-size: 1.85vw;
    font-weight: bold;
    color: white;
}

@media (max-width:1024px) {
    .leftArrow, .rightArrow {
        display: none;
    }
    .title {
        margin: 0 0 0 7vw;
        font-size: clamp(3.5rem, 12vw, 10rem);
        font-weight: bold;
        line-height: 113%;
    }
    .subTitle {
        font-size: clamp(2rem, 6vw, 4rem);
    }
    .imageBox {
        min-width: 35vw;
        height: 17.5vw;
        margin: 0.3vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.1s;
    }
    .imageBox div {
        width: 100%;
        height: 100%;
    }
    .imageBox:hover {
        min-width: 40vw;
        height: 22vw;
    }
    .leftArrow, .rightArrow {
        width: 6vw;
        height: 28vw;
        transition: 0.1s;
        font-size: clamp(2rem, 8vw, 4rem);
    }
    .leftArrow:hover, .rightArrow:hover {
        text-shadow: none;
        font-size: clamp(2rem, 8vw, 4rem);
        color: black;
        display: inline;
    }
    .leftArrow:active {
        font-size: clamp(2rem, 10vw, 4.5rem);
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 0.5vw 1px black, -1px -1px 0 black, 0.5vw -1px 0 black, -1px 1px 0 black;
        color: white;
        display: inline;
    }
    .rightArrow:active {
        font-size: clamp(2rem, 10vw, 4.5rem);
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -0.5vw -1px 0 black, 1px -1px 0 black, -0.5vw 1px 0 black;
        color: white;
        display: inline;
    }
    .linkContent {
        transform: translateY(-67%);
        margin: 0;
        padding: 0 2%;
        white-space: wrap;
        transition: 0.2s;
    }
    .imageBox:hover .linkContent {
        transform: translateY(-67%);
    }
    .name {
        font-size: 3vw;
    }
    .link {
        font-size: 2.3vw;
        padding: 4% 5% 3% 5%;
        border-radius: 6px;
    }
}

@media (max-width:767px) {
    
    .subTitle {
        font-size: clamp(1rem, 8vw, 2.5rem);
    }
    .imageBox {
        min-width: 70vw;
        height: 35vw;
        margin: 0.3vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.1s;
    }
    .imageBox div {
        width: 100%;
        height: 100%;
    }
    .imageBox:hover {
        min-width: 85vw;
        height: 45vw;
    }
    .leftArrow, .rightArrow {
        height: 51vw;
    }
    .linkContent {
        transform: translateY(-67%);
        margin: 0;
        padding: 0 2%;
        white-space: wrap;
        transition: 0.2s;
    }
    .imageBox:hover .linkContent {
        transform: translateY(-67%);
    }
    .name {
        font-size: 5.5vw;
    }
    .link {
        font-size: 4vw;
        padding: 4% 5% 3% 5%;
        border-radius: 6px;
    }
}