.galeryPage {
    padding-top: calc(1.5vh + 50px);
    min-height: calc(100vh - (1.5vh + 50px));
    margin: 2vh 0 2vh 0;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    margin: 0 0 0 7vw;
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: bold;
    line-height: 113%;
}

.lineWrapper {
    display: flex;
    padding: 2vh 0;
}

.categoryWrapper {
    margin: 3vh 0 0 5vw;
}

.line {
    width: 80vw;
    display: flex;
}

.leftArrow, .rightArrow {
    margin: 0;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vw;
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: 'Sofia', cursive;
    color: black;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.leftArrow:hover {
    font-size: clamp(1.5rem, 5vw, 5rem);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 0.5vw 1px black, -1px -1px 0 black, 0.5vw -1px 0 black, -1px 1px 0 black;
    color: white;
}

.rightArrow:hover {
    font-size: clamp(1.5rem, 6vw, 5rem);
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -0.5vw -1px 0 black, 1px -1px 0 black, -0.5vw 1px 0 black;
    color: white;
}

.subTitle {
    margin: 0 0 0 5vw;
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: 300;
    text-shadow: 0 0 0.5px black;
    color: #777777;
}

.imageBox {
    min-width: 24vw;
    height: 12vw;
    margin: 0.2vw;
    overflow: hidden;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: 0.2s;
}

.imageBox:hover {
    min-width: 30vw;
    height: 15vw;
}

.imageBox:hover .linkContent {
    font-size: 1px;
    opacity: 1;
}

.linkContent {
    transform: translateY(-75px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.5%;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap
}

.link {
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    color: white;
    font-weight: bold;
    background-color: #3C3C3C;
    padding: 3% 5%;
    border-radius: 6px;
    transition: 0.1s;
}

.link:hover {
    color: black;
    background-color: #F6F6F6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset;
}

.name {
    font-size: clamp(1rem, 2.2vw, 2.5rem);
    font-weight: bold;
    color: white;
}

@media (max-width:1280px) {
    .linkContent {
        transform: translateY(-55px);
    }
}

@media (max-width:768px) {
    .imageBox {
        min-width: 35vw;
        height: 20vw;
        margin: 0.2vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.2s;
    }
    .imageBox div {
        width: 100%;
        height: 100%;
    }
    .imageBox:hover {
        min-width: 43vw;
        height: 25vw;
        margin: 0.2vw;
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        transition: 0.2s;
    }
    .linkContent {
        transform: translateY(0);
        margin: 0;
        padding:2%;
        opacity: 0;
        transition: opacity 0.2s;
        white-space: nowrap
    }
    .imageBox:hover .linkContent {
        transform: translateY(-65px);
    }
    .name {
        font-size: clamp(0.8rem, 2.2vw, 2.5rem);
        font-weight: bold;
        color: white;
    }
    .link {
        font-size: clamp(0.8rem, 1.5vw, 1.7rem);
    }
}