.Navbar {
    z-index: 10;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
}

.home {
    margin: 1vh 2vw;
}

.home::after {
    z-index: -1;
    position: absolute;
    transform: translate(-35px, 32px);
    padding: 10px;
    filter: blur(5px);
    content: '';
    background-color: yellow;
    opacity: 0;
}

.home::before {
    position: absolute;
    transform: translate(34px, 7px);
    content: '';
    border-radius: 50px;
    background-color: black;
}

.home:hover::before {
    animation: onHoverSmoke 2s ease-in-out infinite normal backwards;
}

.home:hover::after {
    animation: lightsUp 2s ease-in-out infinite normal backwards;
}

@keyframes lightsUp {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes onHoverSmoke {
    0% {
        transform: translate(34px, 7px);
        padding: 0.2%;
    }
    30% {
        padding: 0.2%;
        transform: translate(37px, 0);
    }
    50% {
        transform: translate(42px, -2px);
    }
    80% {
        transform: translate(45px, -10px);
    }
    85% {
        opacity: 0.3;
    }
    90% {
        padding: 0;
        transform: translate(34px, 7px);
    }
    100% {
        opacity: 1;
        padding: 0.2%;
    }
}

.home:hover path {
    transition: 0.4s ease-in-out;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 1vh 2vw;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}

.link {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1vw;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.link::after {
    content: '';
    width: 0;
    height: 2.5px;
    background: #000;
    transition: 0.2s ease-in-out;
}

.link:hover::after {
    width: 80%;
}

@media (max-width:1024px) {
    .link {
        font-size: clamp(2.2rem, 4vw, 2.8rem);
    }
}

@media (max-width:767px) {
    .link {
        font-size: clamp(1.2rem, 2.5vw, 2rem);
    }
}