.projectPage:global(.projectPage) {
    width: 100vw;
    height: 100vh;
}

.slider {
    margin-top: calc(1.5vh + 55px);
    width: 100vw;
    height: 86vh;
    overflow: hidden;
}

.imageBox {
    width: 100vw;
    height: 86vh;
    overflow: hidden;
}

.imageBox div img {
    width: 100vw;
    height: 86vh;
}

.arrow {
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 4vw 0 2vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: 'Sofia', cursive;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.arrow:nth-last-child(2) {
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    float: right;
    transform: translateY(-100%);
}

.arrow:hover {
    opacity: 1 !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.arrow:nth-last-child(2):hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider:hover .arrow {
    opacity: 0.5;
}

.button__bar {
    position: relative;
    float: right;
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0 5vh 0;
    width: 100%;
    transform: translateY(-9vh);
    background: radial-gradient(closest-side at 50% 50%, rgba(0, 0, 0, 0.25)20%, rgba(0, 0, 0, 0)80%);
    position: absolute;
    transition: 0.2s ease-in-out;
}

.button__bar li {
    font-size: 0;
    display: inline-block;
    padding: 0;
}

.button__bar li button {
    background: #F6F6F6;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 5px;
    height: 4px;
    width: 30px;
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

.button__bar li button:hover {
    opacity: 1;
    background: white;
    box-shadow: 0 0 2px 0 black;
}

.button__bar :global(li.slick-active) button {
    opacity: 1;
    background: #F6F6F6;
    box-shadow: 0 0 2px 0 #f6f6f69b;
}

.advise {
    display: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #707070;
    font-size: 4vw;
}

.fileSection {
    min-height: calc(100vh - (1.5vh + 50px));
    margin: 2vh 0 2vh 7vw;
    font-family: 'Josefin Sans', sans-serif;
}

.title {
    font-size: clamp(3.5rem, 7vw, 6rem);
    font-weight: bold;
    line-height: 113%;
    font-family: 'Josefin Sans', sans-serif;
}

.fileWrapper {
    margin: 0 0 0 1vw;
}

.fileCard {
    margin: 5vh 3vw 5vh 1vw;
    float: left;
    width: 15vw;
    height: 20vw;
    border-radius: 5px;
    overflow: hidden;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 2px 0 #00000055;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10% 5%;
    width: 100%;
    transition: 200ms ease-in-out;
}

.fileCard:hover .content {
    transform: translatey(-100%);
}

.button {
    margin:0 0 0 5%;
    border: none;
    background-color: #212121;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    float: right;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.button svg {
    background-color: transparent;
}

.button svg path {
    transition: 200ms ease-in-out;
}

.button:hover {
    background-color: #F6F6F6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset;
}

.button:hover svg {
    background-color: transparent;
}

.button:hover svg path {
    fill: black;
}

.text {
    font-size: clamp(1rem, 2vw, 2rem);
}

@media (max-width:1366px) and (min-width:1360px) {
    .slider {
        margin-top: calc(1.5vh + 55px);
        width: 100vw;
        height: 83vh;
        overflow: hidden;
    }
    .title{
        font-size: clamp(3.5rem, 6vw, 10rem);
    }
    .imageBox {
        width: 100vw;
        height: 83vh;
        overflow: hidden;
    }

    .imageBox div img {
        width: 100vw;
        height: 83vh;
    }

    .arrow {
        padding: 0 3vw 0 2vw;
        font-size: clamp(2rem, 3.5vw, 4rem);
    }

    .button__bar {
        padding: 4vh 0 8vh 0;
        transform: translateY(-11vh);
        background: radial-gradient(closest-side at 50% 50%, rgba(0, 0, 0, 0.3)20%, rgba(0, 0, 0, 0)90%);
    }
}
@media (max-width:1280px) {
    .fileCard{
        width: 18.75vw;
        height: 25vw;
    }
}
@media (max-width:1024px) {
    .slider {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
    }

    .imageBox div img {
        vertical-align: middle;
        width: 100vw;
        height: 50vh;
    }

    .arrow:nth-last-child(2) {
        transform: translateY(-100%);
    }

    .title {
        font-size: clamp(3.5rem, 12vw, 10rem);
    }
    
    .fileCard {
        width: 25vw;
        height: auto;
    }
    
    .fileCard:hover .content {
        transform: translatey(0);
    }
    .fileSection{
        margin-top: 5vh;
    }
    .text{
        font-size: clamp(2rem, 2rem, 2.5rem);
    }
}

@media (max-width:1024px) and (orientation:landscape) {
    .slider {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .button__bar {
        transform: translateY(-13vh);
    }
    .imageBox {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .imageBox div img {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:768px) {
    .slider {
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }

    .imageBox {
        vertical-align: middle;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }

    .imageBox div img {
        vertical-align: middle;
        width: 100vw;
        height: 30vh;
    }

    .arrow:nth-last-child(2) {
        transform: translateY(-100%);
    }

    .button__bar li button {
        width: 20px;
        margin: 3px;
    }

    .advise {
        display: flex;
        justify-content: center;
    }
    .fileSection{
        margin: 5vh 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fileWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .fileCard {
        width: 80vw;
        height: auto;
    }
}

@media (max-width:768px) and (orientation:landscape){
    .slider {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .button__bar {
        transform: translateY(-13vh);
    }
    .imageBox {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .imageBox div img {
        width: 100vw;
        height: 100vh;
    }
}