.projectPage:global(.projectPage) {
    width: 100vw;
    height: 100vh;
}

.slider {
    margin-top: calc(1.5vh + 55px);
    width: 100vw;
    height: 86vh;
    overflow: hidden;
}

.imageBox {
    width: 100vw;
    height: 86vh;
    overflow: hidden;
}

.imageBox div img {
    width: 100vw;
    height: 86vh;
}

.arrow {
    opacity: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0 4vw 0 2vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    font-size: clamp(2rem, 4vw, 4rem);
    font-family: 'Sofia', cursive;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.arrow:nth-last-child(2) {
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    float: right;
    transform: translateY(-100%);
}

.arrow:hover {
    opacity: 1 !important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.arrow:nth-last-child(2):hover {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider:hover .arrow {
    opacity: 0.5;
}

.button__bar {
    position: relative;
    float: right;
    margin: 0 auto;
    text-align: center;
    padding: 4vh 0 5vh 0;
    width: 100%;
    transform: translateY(-9vh);
    background: radial-gradient(closest-side at 50% 50%, rgba(0, 0, 0, 0.25)20%, rgba(0, 0, 0, 0)80%);
    position: absolute;
    transition: 0.2s ease-in-out;
}

.button__bar li {
    color: transparent;
    display: inline-block;
    padding: 0;
}

.button__bar li button {
    background: #F6F6F6;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 5px;
    height: 4px;
    width: 30px;
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}

.button__bar li button:hover {
    opacity: 1;
    background: white;
    box-shadow: 0 0 2px 0 black;
}

.button__bar :global(li.slick-active) button {
    opacity: 1;
    background: #F6F6F6;
    box-shadow: 0 0 2px 0 #f6f6f69b;
}

.advise {
    display: none;
    font-family: 'Josefin Sans', sans-serif;
    color: #707070;
    font-size: 4vw;
}

@media (max-width:1024px) {
    .slider {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
    }
    .imageBox {
        vertical-align: middle;
        width: 100vw;
        height: 50vh;
        overflow: hidden;
    }
    .imageBox div img {
        vertical-align: middle;
        width: 100vw;
        height: 50vh;
    }
    .arrow:nth-last-child(2) {
        transform: translateY(-100%);
    }
    .button__bar li button {
        width: 35px;
        margin: 5px;
        height: 5px;
    }
}

@media (max-width:1024px) and (orientation:landscape) {
    .slider {
        width: 100vw;
        height: 85vh;
        overflow: hidden;
    }
    .imageBox {
        width: 100vw;
        height: 85vh;
        overflow: hidden;
    }
    .imageBox div img {
        width: 100vw;
        height: 85vh;
    }
}

@media (max-width:768px) {
    .slider {
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }
    .imageBox {
        vertical-align: middle;
        width: 100vw;
        height: 30vh;
        overflow: hidden;
    }
    .imageBox div img {
        vertical-align: middle;
        width: 100vw;
        height: 30vh;
    }
    .arrow:nth-last-child(2) {
        transform: translateY(-100%);
    }
    .button__bar li button {
        width: 20px;
        margin: 3px;
    }
    .advise {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:768px) and (orientation:landscape) {
    .slider {
        margin-top: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .imageBox {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .imageBox div img {
        width: 100vw;
        height: 100vh;
    }
    .button__bar {
        padding: 15vh 0 23vh 0;
        transform: translateY(-25vh);
        background: radial-gradient(closest-side at 50% 50%, rgba(0, 0, 0, 0.4)20%, rgba(0, 0, 0, 0)80%);
    }
}